{% extends 'index.html' %}

{% block content %}

<div class="container">
    <center>

        <div class="card" style="width: 25rem; margin-top: 50px;">
            <div class="card-header">

                <h4>Wrong credentials</h4>

                <div class="card-body">
                    <input type="button" onclick="window.location.href='/'" id="hide-btn"
                        class="btn btn-secondary btn-sm" value="Try again">

                </div>
            </div>
        </div>
    </center>
</div>

{% endblock %}
